## Imports

In [29]:
import pandas as pd

In [58]:
offshore_control_data = pd.read_csv("../data/Offshore_Control.csv",index_col=0)
offshore_ensembles_data = pd.read_csv("../data/Offshore_Ensembles.csv")  # Restructure ensembles to access each one for a certain date
offshore_power_data = pd.read_csv("../data/Offshore_Power.csv",index_col=0)
offshore_observations_data = pd.read_csv("../data/Offshore_Observations.csv",index_col=0,infer_datetime_format=True)

In [31]:
offshore_control_data.info()
offshore_control_data.head(5)

<class 'pandas.core.frame.DataFrame'>
Index: 2885 entries, 2017-02-01 00:00:00 to 2018-09-01 00:00:00
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sp         2885 non-null   float64
 1   msl        2885 non-null   float64
 2   u10        2885 non-null   float64
 3   v10        2885 non-null   float64
 4   t2m        2885 non-null   float64
 5   d2m        2885 non-null   float64
 6   speed      2885 non-null   float64
 7   horizon    2885 non-null   int64
 8   is_origin  2885 non-null   int64
dtypes: float64(7), int64(2)
memory usage: 225.4+ KB

,sp,msl,u10,v10,t2m,d2m,speed,horizon,is_origin
time,,,,,,,,,
2017-02-01 00:00:00,101826.390,101824.984,-3.264678,8.207102,277.33472,274.82648,8.832590,0,1
2017-02-02 00:00:00,100824.360,100823.050,-4.862424,9.098550,278.46550,276.77573,10.316336,0,1
2017-02-03 00:00:00,100170.110,100169.190,-3.109724,8.264206,280.75778,279.23500,8.829920,0,1
2017-02-04 00:00:00,99896.780,99895.625,-5.063672,6.097414,280.14770,279.17460,7.925858,0,1
2017-02-05 00:00:00,100225.266,100224.200,-5.390242,0.159218,279.31274,277.79840,5.392593,0,1

In [45]:
offshore_ensembles_data.info()
offshore_ensembles_data.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144250 entries, 0 to 144249
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   time       144250 non-null  object
 1   number     144250 non-null  int64
 2   sp         144250 non-null  float64
 3   msl        144250 non-null  float64
 4   u10        144250 non-null  float64
 5   v10        144250 non-null  float64
 6   t2m        144250 non-null  float64
 7   d2m        144250 non-null  float64
 8   speed      144250 non-null  float64
 9   horizon    144250 non-null  int64
 10  is_origin  144250 non-null  int64
dtypes: float64(7), int64(3), object(1)
memory usage: 12.1+ MB

,time,number,sp,msl,u10,v10,t2m,d2m,speed,horizon,is_origin
0,2017-02-01 00:00:00,1,101833.09,101832.234,-3.977708,7.919396,277.35468,274.65344,8.862223,0,1
1,2017-02-02 00:00:00,1,100839.22,100838.410,-5.219008,9.055080,278.74072,276.95612,10.451436,0,1
2,2017-02-03 00:00:00,1,100167.15,100166.625,-2.604713,8.133394,281.15524,279.51270,8.540294,0,1
3,2017-02-04 00:00:00,1,99909.20,99908.450,-4.745826,6.225957,280.47852,279.46176,7.828500,0,1
4,2017-02-05 00:00:00,1,100219.17,100218.110,-5.307553,0.081582,279.68680,278.00967,5.308180,0,1

In [34]:
offshore_power_data.info()
offshore_power_data.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 2885 entries, 2017-02-01 00:00:00 to 2018-09-01 00:00:00
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   wind_power  2885 non-null   float64
 1   horizon     2885 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 67.6+ KB

                     wind_power  horizon
time
2017-02-01 00:00:00       0.649        0
2017-02-01 06:00:00       0.781        6
2017-02-01 12:00:00       0.893       12
2017-02-01 18:00:00       0.909       18
2017-02-02 00:00:00       0.787       24
2017-02-02 00:00:00       0.787        0
2017-02-02 06:00:00       0.658        6
2017-02-02 12:00:00       0.737       12
2017-02-02 18:00:00       0.896       18
2017-02-03 00:00:00       0.675       24

In [61]:
offshore_observations_data.info()
offshore_observations_data.head(5)
offshore_observations_data.index = pd.to_datetime(offshore_observations_data.index)
offshore_observations_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2884 entries, 2017-02-01 00:00:00 to 2018-08-31 18:00:00
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   u10        2884 non-null   float64
 1   v10        2884 non-null   float64
 2   d2m        2884 non-null   float64
 3   t2m        2884 non-null   float64
 4   msl        2884 non-null   float64
 5   sp         2884 non-null   float64
 6   speed      2884 non-null   float64
 7   horizon    2884 non-null   int64
 8   is_origin  2884 non-null   int64
dtypes: float64(7), int64(2)
memory usage: 225.3 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2884 entries, 2017-02-01 00:00:00 to 2018-08-31 18:00:00
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   u10        2884 non-null   float64
 1   v10        2884 non-null   float64
 2   d2m        2884 non-null   float64
 3   t2m        2884 non-null   float64
 4   msl        2884 non-null   float64
 5   sp         2884 non-null   float64
 6   speed      2884 non-null   float64
 7   horizon    2884 non-null   int64
 8   is_origin  2884 non-null   int64
dtypes: float64(7), int64(2)
memory usage: 225.3 KB

In [46]:
#offshore_ensembles_data_restructured = offshore_ensembles_data.pivot(index=["horizon","time"],columns=["number"],values=["u10","v10","d2m","t2m","msl","sp","speed"])
#offshore_ensembles_data.keys()
offshore_ensembles_data_restructured = offshore_ensembles_data.pivot(index  = ["horizon","time"],columns="number",values=["speed","d2m"])

In [47]:
offshore_ensembles_data_restructured.head(5)

                                 speed                                  \
number                              1          2          3         4
horizon time
0       2017-02-01 00:00:00   8.862223   8.795639   9.235495  8.367505
        2017-02-02 00:00:00  10.451436  10.054616  10.706299  9.802099
        2017-02-03 00:00:00   8.540294   8.961194   8.664668  8.791291
        2017-02-04 00:00:00   7.828500   8.076684   7.840140  8.092784
        2017-02-05 00:00:00   5.308180   5.796695   5.653952  5.480312

                                                                         \
number                              5          6          7          8
horizon time
0       2017-02-01 00:00:00   8.574521   9.028636   9.629373   7.984891
        2017-02-02 00:00:00  10.248920  10.252526  10.026599  10.474871
        2017-02-03 00:00:00   8.559384   8.915144   8.861390   8.587131
        2017-02-04 00:00:00   8.144852   7.745573   7.856093   8.032835
        2017-02-05 00:00:00   5.701424   5.468842   5.543924   5.675903

                                                  ...        d2m             \
number                              9         10  ...         41         42
horizon time                                      ...
0       2017-02-01 00:00:00   9.224573  8.434877  ...  274.53070  275.10632
        2017-02-02 00:00:00  10.646054  9.856325  ...  276.82056  276.72443
        2017-02-03 00:00:00   8.095796  9.384326  ...  279.24700  279.23150
        2017-02-04 00:00:00   8.597539  7.345924  ...  279.07254  279.27148
        2017-02-05 00:00:00   5.713784  5.610285  ...  277.46866  278.13974

                                                                         \
number                              43         44         45         46
horizon time
0       2017-02-01 00:00:00  274.88260  274.76068  274.59824  275.04144
        2017-02-02 00:00:00  276.50000  277.04150  276.62488  276.92154
        2017-02-03 00:00:00  279.26830  279.21228  279.19415  279.28600
        2017-02-04 00:00:00  279.09213  279.25336  279.19380  279.15310
        2017-02-05 00:00:00  278.05520  277.55820  277.25842  278.34738


number                              47         48         49         50
horizon time
0       2017-02-01 00:00:00  274.87952  274.76166  274.87160  274.76790
        2017-02-02 00:00:00  276.70285  276.84308  276.90564  276.64062
        2017-02-03 00:00:00  279.26227  279.21716  279.30542  279.17360
        2017-02-04 00:00:00  279.03650  279.31050  279.20862  279.13870
        2017-02-05 00:00:00  277.76248  277.85083  277.79694  277.81723

[5 rows x 100 columns]

In [48]:
offshore_ensembles_data_hor6 = offshore_ensembles_data_restructured[:].loc[6,:]

In [49]:
offshore_ensembles_data_hor6.info()
offshore_ensembles_data_hor6.head(5)

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 2017-02-01 06:00:00 to 2018-08-31 06:00:00
Data columns (total 100 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   (speed, 1)   577 non-null    float64
 1   (speed, 2)   577 non-null    float64
 2   (speed, 3)   577 non-null    float64
 3   (speed, 4)   577 non-null    float64
 4   (speed, 5)   577 non-null    float64
 5   (speed, 6)   577 non-null    float64
 6   (speed, 7)   577 non-null    float64
 7   (speed, 8)   577 non-null    float64
 8   (speed, 9)   577 non-null    float64
 9   (speed, 10)  577 non-null    float64
 10  (speed, 11)  577 non-null    float64
 11  (speed, 12)  577 non-null    float64
 12  (speed, 13)  577 non-null    float64
 13  (speed, 14)  577 non-null    float64
 14  (speed, 15)  577 non-null    float64
 15  (speed, 16)  577 non-null    float64
 16  (speed, 17)  577 non-null    float64
 17  (speed, 18)  577 non-null    float64
 18  (speed, 19)  577 non-null    float64
 19  (speed, 20)  577 non-null    float64
 20  (speed, 21)  577 non-null    float64
 21  (speed, 22)  577 non-null    float64
 22  (speed, 23)  577 non-null    float64
 23  (speed, 24)  577 non-null    float64
 24  (speed, 25)  577 non-null    float64
 25  (speed, 26)  577 non-null    float64
 26  (speed, 27)  577 non-null    float64
 27  (speed, 28)  577 non-null    float64
 28  (speed, 29)  577 non-null    float64
 29  (speed, 30)  577 non-null    float64
 30  (speed, 31)  577 non-null    float64
 31  (speed, 32)  577 non-null    float64
 32  (speed, 33)  577 non-null    float64
 33  (speed, 34)  577 non-null    float64
 34  (speed, 35)  577 non-null    float64
 35  (speed, 36)  577 non-null    float64
 36  (speed, 37)  577 non-null    float64
 37  (speed, 38)  577 non-null    float64
 38  (speed, 39)  577 non-null    float64
 39  (speed, 40)  577 non-null    float64
 40  (speed, 41)  577 non-null    float64
 41  (speed, 42)  577 non-null    float64
 42  (speed, 43)  577 non-null    float64
 43  (speed, 44)  577 non-null    float64
 44  (speed, 45)  577 non-null    float64
 45  (speed, 46)  577 non-null    float64
 46  (speed, 47)  577 non-null    float64
 47  (speed, 48)  577 non-null    float64
 48  (speed, 49)  577 non-null    float64
 49  (speed, 50)  577 non-null    float64
 50  (d2m, 1)     577 non-null    float64
 51  (d2m, 2)     577 non-null    float64
 52  (d2m, 3)     577 non-null    float64
 53  (d2m, 4)     577 non-null    float64
 54  (d2m, 5)     577 non-null    float64
 55  (d2m, 6)     577 non-null    float64
 56  (d2m, 7)     577 non-null    float64
 57  (d2m, 8)     577 non-null    float64
 58  (d2m, 9)     577 non-null    float64
 59  (d2m, 10)    577 non-null    float64
 60  (d2m, 11)    577 non-null    float64
 61  (d2m, 12)    577 non-null    float64
 62  (d2m, 13)    577 non-null    float64
 63  (d2m, 14)    577 non-null    float64
 64  (d2m, 15)    577 non-null    float64
 65  (d2m, 16)    577 non-null    float64
 66  (d2m, 17)    577 non-null    float64
 67  (d2m, 18)    577 non-null    float64
 68  (d2m, 19)    577 non-null    float64
 69  (d2m, 20)    577 non-null    float64
 70  (d2m, 21)    577 non-null    float64
 71  (d2m, 22)    577 non-null    float64
 72  (d2m, 23)    577 non-null    float64
 73  (d2m, 24)    577 non-null    float64
 74  (d2m, 25)    577 non-null    float64
 75  (d2m, 26)    577 non-null    float64
 76  (d2m, 27)    577 non-null    float64
 77  (d2m, 28)    577 non-null    float64
 78  (d2m, 29)    577 non-null    float64
 79  (d2m, 30)    577 non-null    float64
 80  (d2m, 31)    577 non-null    float64
 81  (d2m, 32)    577 non-null    float64
 82  (d2m, 33)    577 non-null    float64
 83  (d2m, 34)    577 non-null    float64
 84  (d2m, 35)    577 non-null    float64
 85  (d2m, 36)    577 non-null    float64
 86  (d2m, 37)    577 non-null    float64
 87  (d2m, 38)    577 non-null    float64
 88  (d2m, 39)    577 non-null    float64
 89  (d2m, 40)    577 non-null    float64
 90  (d2m, 41)    577 non-null    float64
 91  (d2m, 42)    577 non-null    float64
 92  (d2m, 43)    577 non-null    float64
 93  (d2m, 44)    577 non-null    float64
 94  (d2m, 45)    577 non-null    float64
 95  (d2m, 46)    577 non-null    float64
 96  (d2m, 47)    577 non-null    float64
 97  (d2m, 48)    577 non-null    float64
 98  (d2m, 49)    577 non-null    float64
 99  (d2m, 50)    577 non-null    float64
dtypes: float64(100)
memory usage: 455.3+ KB

                         speed                                             \
number                      1          2          3         4          5
time
2017-02-01 06:00:00  10.173201  10.355446  10.152869  9.889152  10.327680
2017-02-02 06:00:00  10.378813   9.332659  10.635939  8.515125   9.218588
2017-02-03 06:00:00   7.324460   8.091289   7.890237  7.631769   7.764442
2017-02-04 06:00:00   6.733559   8.713390   7.631835  8.158422   7.396195
2017-02-05 06:00:00   6.747715   7.109672   7.077109  7.355937   8.937841

                                                                           \
number                     6          7          8          9          10
time
2017-02-01 06:00:00  9.782821  10.033804  10.183509  10.180767  10.099401
2017-02-02 06:00:00  9.321041  10.312752   8.875989  11.021940   8.728908
2017-02-03 06:00:00  8.354485   8.501706   7.844576   7.412458   8.319541
2017-02-04 06:00:00  8.486728   7.232947   8.704319   7.822733   8.735173
2017-02-05 06:00:00  6.252517   6.944220   7.050126   7.202817   7.646244

                     ...        d2m                                   \
number               ...         41         42         43         44
time                 ...
2017-02-01 06:00:00  ...  274.52260  275.09240  274.81894  274.82460
2017-02-02 06:00:00  ...  278.97827  278.79517  278.87323  278.87770
2017-02-03 06:00:00  ...  279.42908  278.65730  279.13788  278.96870
2017-02-04 06:00:00  ...  277.52414  278.00302  277.81113  277.87744
2017-02-05 06:00:00  ...  277.31738  277.50990  278.06238  277.11676

                                                                            \
number                      45         46         47         48         49
time
2017-02-01 06:00:00  274.79605  274.87137  274.69922  274.72946  274.94778
2017-02-02 06:00:00  279.05295  278.69147  278.81387  278.88890  278.91498
2017-02-03 06:00:00  279.44565  278.98068  279.28754  278.82004  278.81015
2017-02-04 06:00:00  278.06934  277.78238  277.81604  277.82710  277.85776
2017-02-05 06:00:00  277.67746  277.06573  277.63644  276.98956  277.99970


number                      50
time
2017-02-01 06:00:00  274.63577
2017-02-02 06:00:00  278.78818
2017-02-03 06:00:00  279.29803
2017-02-04 06:00:00  277.83130
2017-02-05 06:00:00  277.19232

[5 rows x 100 columns]

In [53]:
offshore_ensembles_data_hor6.index = pd.to_datetime(offshore_ensembles_data_hor6.index)

In [54]:
offshore_ensembles_data_hor6.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 577 entries, 2017-02-01 06:00:00 to 2018-08-31 06:00:00
Data columns (total 100 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   (speed, 1)   577 non-null    float64
 1   (speed, 2)   577 non-null    float64
 2   (speed, 3)   577 non-null    float64
 3   (speed, 4)   577 non-null    float64
 4   (speed, 5)   577 non-null    float64
 5   (speed, 6)   577 non-null    float64
 6   (speed, 7)   577 non-null    float64
 7   (speed, 8)   577 non-null    float64
 8   (speed, 9)   577 non-null    float64
 9   (speed, 10)  577 non-null    float64
 10  (speed, 11)  577 non-null    float64
 11  (speed, 12)  577 non-null    float64
 12  (speed, 13)  577 non-null    float64
 13  (speed, 14)  577 non-null    float64
 14  (speed, 15)  577 non-null    float64
 15  (speed, 16)  577 non-null    float64
 16  (speed, 17)  577 non-null    float64
 17  (speed, 18)  577 non-null    float64
 18  (speed, 19)  577 non-null    float64
 19  (speed, 20)  577 non-null    float64
 20  (speed, 21)  577 non-null    float64
 21  (speed, 22)  577 non-null    float64
 22  (speed, 23)  577 non-null    float64
 23  (speed, 24)  577 non-null    float64
 24  (speed, 25)  577 non-null    float64
 25  (speed, 26)  577 non-null    float64
 26  (speed, 27)  577 non-null    float64
 27  (speed, 28)  577 non-null    float64
 28  (speed, 29)  577 non-null    float64
 29  (speed, 30)  577 non-null    float64
 30  (speed, 31)  577 non-null    float64
 31  (speed, 32)  577 non-null    float64
 32  (speed, 33)  577 non-null    float64
 33  (speed, 34)  577 non-null    float64
 34  (speed, 35)  577 non-null    float64
 35  (speed, 36)  577 non-null    float64
 36  (speed, 37)  577 non-null    float64
 37  (speed, 38)  577 non-null    float64
 38  (speed, 39)  577 non-null    float64
 39  (speed, 40)  577 non-null    float64
 40  (speed, 41)  577 non-null    float64
 41  (speed, 42)  577 non-null    float64
 42  (speed, 43)  577 non-null    float64
 43  (speed, 44)  577 non-null    float64
 44  (speed, 45)  577 non-null    float64
 45  (speed, 46)  577 non-null    float64
 46  (speed, 47)  577 non-null    float64
 47  (speed, 48)  577 non-null    float64
 48  (speed, 49)  577 non-null    float64
 49  (speed, 50)  577 non-null    float64
 50  (d2m, 1)     577 non-null    float64
 51  (d2m, 2)     577 non-null    float64
 52  (d2m, 3)     577 non-null    float64
 53  (d2m, 4)     577 non-null    float64
 54  (d2m, 5)     577 non-null    float64
 55  (d2m, 6)     577 non-null    float64
 56  (d2m, 7)     577 non-null    float64
 57  (d2m, 8)     577 non-null    float64
 58  (d2m, 9)     577 non-null    float64
 59  (d2m, 10)    577 non-null    float64
 60  (d2m, 11)    577 non-null    float64
 61  (d2m, 12)    577 non-null    float64
 62  (d2m, 13)    577 non-null    float64
 63  (d2m, 14)    577 non-null    float64
 64  (d2m, 15)    577 non-null    float64
 65  (d2m, 16)    577 non-null    float64
 66  (d2m, 17)    577 non-null    float64
 67  (d2m, 18)    577 non-null    float64
 68  (d2m, 19)    577 non-null    float64
 69  (d2m, 20)    577 non-null    float64
 70  (d2m, 21)    577 non-null    float64
 71  (d2m, 22)    577 non-null    float64
 72  (d2m, 23)    577 non-null    float64
 73  (d2m, 24)    577 non-null    float64
 74  (d2m, 25)    577 non-null    float64
 75  (d2m, 26)    577 non-null    float64
 76  (d2m, 27)    577 non-null    float64
 77  (d2m, 28)    577 non-null    float64
 78  (d2m, 29)    577 non-null    float64
 79  (d2m, 30)    577 non-null    float64
 80  (d2m, 31)    577 non-null    float64
 81  (d2m, 32)    577 non-null    float64
 82  (d2m, 33)    577 non-null    float64
 83  (d2m, 34)    577 non-null    float64
 84  (d2m, 35)    577 non-null    float64
 85  (d2m, 36)    577 non-null    float64
 86  (d2m, 37)    577 non-null    float64
 87  (d2m, 38)    577 non-null    float64
 88  (d2m, 39)    577 non-null    float64
 89  (d2m, 40)    577 non-null    float64
 90  (d2m, 41)    577 non-null    float64
 91  (d2m, 42)    577 non-null    float64
 92  (d2m, 43)    577 non-null    float64
 93  (d2m, 44)    577 non-null    float64
 94  (d2m, 45)    577 non-null    float64
 95  (d2m, 46)    577 non-null    float64
 96  (d2m, 47)    577 non-null    float64
 97  (d2m, 48)    577 non-null    float64
 98  (d2m, 49)    577 non-null    float64
 99  (d2m, 50)    577 non-null    float64
dtypes: float64(100)
memory usage: 455.3 KB